<!-- component -->
<!-- Foooter -->
<section class="bg-black">
  <div
    class="ixed bottom-0 left-0 right-0 max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8"
  >
    <!-- <nav class="flex flex-wrap justify-center -mx-5 -my-2">
            <div class="px-5 py-2">
                <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    About
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    Blog
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    Team
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    Pricing
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    Contact
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    Terms
                </a>
            </div>
        </nav> -->
    <div class="flex justify-center mt-8 space-x-6">
      <a
        href="https://www.facebook.com/khongelaninathan.hlungwani"
        target="_blank"
        rel="noopener noreferrer"
        class="text-white hover:text-gray-500"
      >
        <span class="sr-only">Facebook</span>
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            fill-rule="evenodd"
            d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
 



      
      <a
        href="https://www.linkedin.com/in/nathan-hlungwani/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-white hover:text-gray-500"
      >
        <span class="sr-only">LinkedIn</span>
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      <a
        href="https://github.com/Nathandiv"
        target="_blank"
        rel="noopener noreferrer"
        class="text-white hover:text-gray-500"
      >
        <span class="sr-only">GitHub</span>
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
 
    </div>
 
      <p class="mt-8 text-base leading-6 text-center text-white">
        <span class="">© DJ Ngakz</span> . All rights reserved. Developer
        <a
          href="https://github.com/Nathandiv"
          class="text-white hover:text-gray-500"
        >
          <span class="hover:underline">Nathandiv</span></a
        >
      </p>



  </div>

  
</section>
